<mat-toolbar color="primary">
  <span><a routerLink=''>My message</a></span>
  <span class = 'spacer'></span>
  <ul>
      <li *ngIf="isAuthenticated">
        <a mat-button routerLink='/create'
        routerLinkActive="mat-accent">
          Add new Post
        </a>
      </li>
      <li *ngIf="!isAuthenticated">
        <a mat-button routerLink='/auth/login' routerLinkActive='mat-green'>
          Login
        </a>
      </li>
      <li *ngIf="!isAuthenticated">
        <a mat-button routerLink='/auth/signup' routerLinkActive='mat-green'>
          SignUp
        </a>
      </li>
      <li *ngIf="isAuthenticated">
        <button mat-button (click)="logout()">Logout</button>
      </li>
    </ul>
</mat-toolbar>
